@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "./styles/fonts.css";
@import "./styles/common.scss";
@import "./styles/variables";

body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  background-color: #f7f8f9;
  background-size: cover;
  background-attachment: fixed;
  padding: 15px;
  min-width: 1200px;
  overflow: auto;
}

a {
  color: #0f6181;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(204, 204, 204);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 0px;
}

* {
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0.199) rgba(235, 235, 235, 0.295);
}